<%- include("partials/header"); -%>

<div class="breadcrumb-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h1 class="lg-title"><%= aboutTitle %></h1>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="pt-5 padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="row">
                    <div class="col-lg-12">
                        <img src="images/about.jpg" alt="" class="img-fluid w-100">
                    </div>
                </div>

                <div class="row justify-content-center mt-5">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <h5 class="text-uppercase letter-spacing mb-4">Who am I?</h5>
                                <p>Hi there! I'm Long, a passionate individual with a deep-rooted curiosity about the vast world we live in.
                                    With a background in computer science, specifically in website development, I've spent the last 4 yeras navigating the digital realm and bringing ideas to life through code
                                </p>

                            </div>
                            <div class="col-lg-12">
                                <h5 class="text-uppercase letter-spacing mb-4">MY VISION</h5>
                                <p>My vision is simple yet powerful - I aspire to inspire. I believe in a holistic approach to life, blending elements of fitness, health, wellness, spirituality, and mindfulness.
                                    Through my journey, I've come to realize that personal development is not just about achieving success but also about overcoming challenges, constantly evolving, and becoming a better version of oneself.</p>
                            </div>
                            <div class="col-lg-12">
                                <h5 class="text-uppercase letter-spacing mb-4">What I like to do?</h5>
                                <p> My interests span various fields and constantly evolve. I enjoy maintaining a healthy lifestyle, staying active, and exploring the deeper aspects of life. Challenges energize me, serving as stepping stones for personal growth. Whether it's solving problems or acquiring new skills, I embrace creativity and innovation. In my professional life, I am deeply immersed in technology, innovation, and web development. As a full-stack developer, I take pride in crafting smooth and intuitive digital experiences that go beyond expectations. Outside of coding, I am committed to lifelong learning, staying updated with industry trends, and expanding my expertise. Let’s embark on this journey together, where we push the limits of technology while unlocking new possibilities for both personal and professional growth.. </p>
                                </div>  
                                                            
                        <div class="parg">
                        <h3 class=" mb-3 mt-5">A Journey to Wellbeing.</h3>
                        <p class="mb-5">I'm more than just a developer—I champion an active and dynamic way of life.
                            The gym is my space for growth, where movement becomes a source of joy and each goal, both physical and mental, is a milestone on the path to self-discovery and empowerment. To me, fitness is more than just a routine; it’s a continuous journey of strength and resilience.                         
                       </p>
                       </div>

                        <div class="row image-row">
                            <div class="col-lg-6 col-md-6">
                                <div class="blog-item mb-4 mb-lg-0">
                                    <img src="images/1.jpg" alt="" class="img-fluid image">
                                    <h4 class="mt-3">Health is gold</h4>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="blog-item  mb-4 mb-lg-0">
                                    <img src="images/2.jpg" alt="" class="img-fluid image">
                                    <h4 class="mt-3">GYM for Life</h4>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="blog-item  mb-4 mb-lg-0">
                                    <img src="images/3.jpg" alt="" class="img-fluid image">
                                    <h4 class="mt-3">Wellness Lifestyle</h4>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="blog-item mb-4 mb-lg-0">
                                    <img src="images/4.jpg" alt="" class="img-fluid image">
                                    <h4 class="mt-3">Fitness</h4>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="blog-item  mb-4 mb-lg-0">
                                    <img src="images/5.jpg" alt="" class="img-fluid image">
                                    <h4 class="mt-3">Breaking the Limits</h4>
                                </div>
                            </div>                            
                            <div class="col-lg-36 col-md-6">
                                <div class="blog-item  mb-4 mb-lg-0">
                                    <img src="images/6.jpg" alt="" class="img-fluid image">
                                    <h4 class="mt-3">Nutritional balance</h4>
                                </div>
                            </div>                            
                            <div class="col-lg-6 col-md-6">
                                <div class="blog-item  mb-4 mb-lg-0">
                                    <img src="images/7.jpg" alt="" class="img-fluid image">
                                    <h4 class="mt-3">Healthy Cooking</h4>
                                </div>
                            </div>                            
                            <div class="col-lg-6 col-md-6">
                                <div class="blog-item  mb-4 mb-lg-0">
                                    <img src="images/8.jpg" alt="" class="img-fluid image">
                                    <h4 class="mt-3">Gym Daily</h4>
                                </div>
                            </div>
                        </div>                    
                        <div class="col-lg-6 col-md-6">
                            <div class="blog-item  mb-4 mb-lg-0">
                                <img src="images/9.jpg" alt="" class="img-fluid image">
                                <h4 class="mt-3">Community Exchange</h4>
                            </div>
                        </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="blog-item  mb-4 mb-lg-0">
                            <img src="images/10.jpg" alt="" class="img-fluid image">
                            <h4 class="mt-3">Training schedule</h4>
                        </div>
                    </div>

                    </div> <!-- end row -->
                </div> <!-- end col lg-12-->
            </div> <!-- end row justify-content-center mt-5 -->
         </div> <!-- end col-lg-12 col-md-12 col-sm-12 col-xs-12 -->
    </div> <!-- end row -->
</div> <!-- end container -->
</section>

<%- include("partials/footer"); -%>
